.movie-card {
    float: left;
    width: 200px;
    height: 340px;
    padding: 24px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.movie-card ul {
    list-style: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding-left: 0;
}

.movie-card img {
    height: 234px;
    width: 189px;
}

.movie-card:hover {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: chocolate;
    top: -5px;
}